@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;700&family=Sarala:wght@400;700&family=Ubuntu:ital,wght@0,300;0,700;1,300;1,700&display=swap');

/* 
font-family: 'Dosis', sans-serif;
font-family: 'Sarala', sans-serif;
font-family: 'Ubuntu', sans-serif; 
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: gray;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

.main-box {
    background: #252323;

}

.main-menu {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container {
    margin: 0 auto;
    width: 980px;
    align-items: center;
    position: relative;
}

.logo {
    padding-left: 10px;
}

.social-media {
    padding-right: 8px;
}

.social-media ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;

}

.nav-box {
    background: #FFFFFF;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    text-transform: uppercase;
    padding-left: 10px;
}

.navbar ul {
    height: 82px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 28px;
}

.btn-nav {
    color: #8B8B8B;
    padding: 28px 0;
    font-family: 'Sarala', sans-serif;

}

.btn-nav:hover {
    color: #00BAC6;
    font-weight: bolder;
    border-bottom: 3px solid #00BAC6;
}