@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;700&family=Sarala:wght@400;700&family=Ubuntu:ital,wght@0,300;0,700;1,300;1,700&display=swap');

/* 
font-family: 'Dosis', sans-serif;
font-family: 'Sarala', sans-serif;
font-family: 'Ubuntu', sans-serif; 
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

.main-box {
    position: fixed;
    background: #252323;
    height: 60px;
    width: 100%;

}

.main-menu {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.container {
    margin: 0 auto;
    width: 980px;
    align-items: center;
}

.logo {
    float: left;
    padding-left: 10px;
    width: 90%;
}

.logo a:hover {
    padding-bottom: 14px;
    border-bottom: 3px solid #00BAC6;

}

.social-media {
    padding-right: 15px;
    width: -10%;
}

.social-media ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;

}

.btn-media {
    padding: 20px 0;
}

.btn-media a img {
    height: 25px;
}

.btn-media:hover {
    padding-bottom: 9px;
    border-bottom: 3px solid #00BAC6;
}

.nav-box {
    padding-top: 60px;
    background: #FFFFFF;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    text-transform: uppercase;
    padding-left: 20px;
}

.navbar ul {
    height: 82px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 28px;
}

.btn-nav {
    color: #8B8B8B;
    padding-bottom: 27px;
    font-size: 14px;
    font-family: 'Sarala', sans-serif;
}

.btn-nav:hover {
    color: #00BAC6;
    border-bottom: 3px solid #00BAC6;
}

.search {
    padding-right: 0;
    margin: 0;
}

.search:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
}

.search input {
    background: url(../img/icone-search.png) no-repeat 160px center;
    height: 40px;
    width: 190px;
    border: 1px solid #D6D6D6;
    border-radius: 2.5px;
    color: #D6D6D6;
    font-family: 'Sarala', sans-serif;
    font-size: 14px;
    padding-left: 16px;
}

/* CORPO DO SITE - BANNER */

.banner {
    width: 100%;
    height: auto;

}