@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;700&family=Sarala:wght@400;700&family=Ubuntu:ital,wght@0,300;0,700;1,300;1,700&display=swap');
/* 
font-family: 'Dosis', sans-serif;
font-family: 'Sarala', sans-serif;
font-family: 'Ubuntu', sans-serif; 
*/

